<%= content_for :scripts do %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' %>
<% end %>

<div class="wrapper container main-wrapper row " style="display: none;">

    <div class="col-lg-8">
        <section class="box" style="overflow:hidden">
            <header class="panel_header">
                <h2 class="title pull-left">Trades Chart</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fas fa-chevron-down"></i>
                    <i class="box_setting fas fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fas fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div id="crypto-chart">
                            <div id="demoarea-container" style="width: 100%; height: 380px; text-align: center; margin: 0px auto; padding: 0px; position: relative;">
                                <div class="card card-de" id="chart">
                                    <div class="card-body">
                                      <div class="col-24 chart hidden" id='hour-chart'>
                                        <%= line_chart current_user.trades.group_by_hour(:created_at).count, download: true  %>
                                      </div>
                                      <div class="col-24 chart" id='day-chart'>
                                        <%= line_chart current_user.trades.group_by_day(:created_at).count, download: true  %>
                                      </div>
                                      <div class="col-24 chart hidden" id='week-chart'>
                                        <%= line_chart current_user.trades.group_by_week(:created_at).count, download: true  %>
                                      </div>
                                      <div class="col-24 chart hidden" id='month-chart'>
                                        <%= line_chart current_user.trades.group_by_month(:created_at).count, download: true  %>
                                      </div>
                                      <ul class='switch-buttons'>
                                        <li id="hour">Hour</li>
                                        <li id="day" class="active">Day</li>
                                        <li id="week">Week</li>
                                        <li id="month">Month</li>
                                      </ul>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Updated design for dashboard page -->
<% barong_domain = ENV['BARONG_DOMAIN'] %>

<div class="card">
  <% unless alert.blank? %>
    <span class="alert alert-danger mb-0">
      <i class="icon icon-cancel-circled"></i> <h3><%= alert %></h3>
    </span>
  <% end %>

  <% unless notice.blank? %>
    <span class="alert alert-success mb-0">
      <i class="icon icon-cancel-circled"></i> <h3><%= notice %></h3>
    </span>
  <% end %>
</div>

<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Main</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div><!--end page-title-box-->
    </div><!--end col-->
  </div><!--end row-->
  <!-- end page title end breadcrumb -->
  <!-- end page title end breadcrumb -->

  <div class="road-map-controls" aria-label="Carousel Navigation" tabindex="0">
    <button id="road-map-prev" class="btn btn-info" data-controls="prev" tabindex="-1" aria-controls="tns1" disabled>
      <i class="fas fa-arrow-left"></i>
    </button>
    <button id="road-map-next" class="btn btn-info" data-controls="next" tabindex="-1" aria-controls="tns1">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>

  <div id="road-map">

    <% @accounts.each_with_index do |account, index| %>
      <div>
        <div class="card profile-card">
          <div class="card-body p-0">
            <div class="media p-3 align-items-center">
              <%= image_tag "#{account.currency_id}.png", alt: 'user', class: "rounded-circle thumb-xl" %>
              <div class="media-body ml-3 align-self-center">
                <h5 class="pro-title"><%= account.currency.name %> Balance</h5>
                <p class="mb-0 text-muted"><%= account.balance %></p>
              </div>
            </div>
          </div><!--end card-body-->
        </div><!--end card-->
      </div><!--end col-->
    <% end %>
  </div><!--end row-->

  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card report-card bg-purple-gradient shadow-purple">
        <div class="card-body">
          <div class="float-right">
            <i class="dripicons-wallet report-main-icon"></i>
          </div>
          <h3 class="my-3">$<%= @total_balance %></h3>
          <p class="mb-0 text-truncate">Account Balance</p>
        </div><!--end card-body-->
      </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
      <div class="card report-card bg-danger-gradient shadow-danger">
        <div class="card-body">
          <div class="float-right">
            <i class="dripicons-graph-bar report-main-icon"></i>
          </div>
          <h3 class="my-3">$<%= @deposits_sum %></h3>
          <p class="mb-0 text-truncate">Total Income</p>
        </div><!--end card-body-->
      </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
      <div class="card report-card bg-secondary-gradient shadow-secondary">
        <div class="card-body">
          <div class="float-right">
            <i class="dripicons-graph-pie report-main-icon"></i>
          </div>
          <h3 class="my-3"><%= @total_balance > 0 ? (@total_balance / @deposits_sum.to_f * 100).round(2) : 0 %>%</h3>
          <p class="mb-0 text-truncate">Rate of Return</p>
        </div><!--end card-body-->
      </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-3">
      <div class="card report-card bg-warning-gradient shadow-warning">
        <div class="card-body">
          <div class="float-right">
            <i class="dripicons-checklist report-main-icon"></i>
          </div>
          <h3 class="my-3"><%= @trades.count %></h3>
          <p class="mb-0 text-truncate">Number of Trades</p>
        </div><!--end card-body-->
      </div><!--end card-->
    </div> <!--end col-->
  </div><!--end row-->

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="crypto-report-history d-flex justify-content-end mb-3">
            <a href="#" class="mr-2"><i class="fas fa-angle-down"></i></a>
            <a href="#" class="mr-2"><i class="fas fa-cog"></i></a>
            <a href="#"><i class="fas fa-times"></i></a>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="media">
                <%= image_tag "btc.png", class: "mr-3 thumb-sm align-self-center rounded-circle", alt: "..." %>
                <div class="media-body align-self-center">
                  <div class="coin-bal">
                    <h4 class="m-0">$7289.45</h4>
                    <p class="text-muted mb-0">Bitcoin
                      <span class="text-muted font-12">(BTC)</span>
                      <span class="text-success">2.5% <i class="mdi mdi-arrow-up"></i></span>
                    </p>
                  </div>
                </div><!--end media body-->
              </div><!--end col-->
            </div><!--end col-->
            <div class="col-md-3">
              <p class="mb-0 p-2 bg-primary-gradient text-white shadow-primary rounded"><b>Last: </b>0.25436584</p>
            </div><!--end col-->
            <div class="col-md-3">
              <p class="mb-0 p-2 bg-success-gradient text-white shadow-success rounded"><b>24High: </b>0.25436584</p>
            </div><!--end col-->
            <div class="col-md-3">
              <p class="mb-0 p-2 bg-danger-gradient text-white shadow-danger rounded"><b>24Low: </b>0.25436584</p>
            </div><!--end col-->
          </div><!-- end row -->
          <div id="crypto_dash_main" class="apex-charts"></div>

          <div class="crypto-report-history d-flex justify-content-end mt-3">
            <ul class="nav" style="margin: 0 auto;">
              <li class="nav-item">
                <a class="nav-link" href="#">Hour</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Week</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Month</a>
              </li>
            </ul>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row no-padding no-margin">
            <div class="col-md-8" align="left">
              <h4 class="header-title mt-0 mb-3">Stock Status</h4>
            </div>

            <div class="col-md-4" align="right">
              <a href="#" class="mr-1"><i class="fas fa-angle-down"></i></a>
              <a href="#" class="mr-1"><i class="fas fa-cog"></i></a>
              <a href="#"><i class="fas fa-times"></i></a>
            </div>

            <div class="col-md-12">
              <ul class="list-group wallet-bal-crypto stock-coin">
                <% @accounts.each do |account| %>
                  <% if account.currency_id != 'usd' %>
                    <% market_change = calc_change(account).slice(0).to_f %>

                    <li class="list-group-item align-items-center d-flex justify-content-between">
                      <div class="media">
                        <%= image_tag "#{account.currency_id}.png", class: "mr-3 thumb-sm align-self-center rounded-circle", alt: "..." %>
                        <div class="media-body align-self-center">
                          <div class="coin-bal">
                            <h3 class="m-0"><%= account.currency.name %></h3>
                          </div>
                        </div><!--end media body-->
                      </div>
                      <div class="coin-bal">
                        <h3 class="m-0">$
                          <% if Gon.tickers.has_key? "#{account.currency_id}btc" %>
                            <%= Gon.tickers["#{account.currency_id}btc"][:last].round(2) %>
                          <% else %>
                            0
                          <% end %>
                        </h3>
                      </div>
                      <div class="coin-bal">
                        <h3 class="m-0 <%= market_change >= 0 ? 'text-success' : 'text-failed' %>">
                          <%= calc_change(account) %>%
                          <i class="fas fa-arrow-<%= market_change >= 0 ? 'up' : 'down' %>"></i>
                        </h3>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
  <footer class="footer text-center text-sm-left">
    &copy; 2020 Five Angels Investment Limited <span class="text-muted d-none d-sm-inline-block float-right">Powered By <i class="mdi mdi-heart text-danger"></i> by Archidax Exchange</span>
  </footer><!--end footer-->

  <%= javascript_include_tag 'plugins/apexcharts/irregular-data-series.js' %>
  <%= javascript_include_tag 'plugins/chartist/js/chratist.min.js' %>
  <%= javascript_include_tag 'plugins/chartist/js/chartist-plugin-tooltip.min.js' %>
  <%= javascript_include_tag 'pages/jquery.crypto-dashboard.init.js' %>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js' %>

  <script type="module">
      const prev = document.getElementById('road-map-prev');
      const next = document.getElementById('road-map-next');

      const roadMap = tns({
          "container": "#road-map",
          "loop": false,
          "responsive": {
              "350": {
                  "items": 2
              },
              "500": {
                  "items": 3
              }
          },
          "swipeAngle": false,
          "speed": 400,
          "nav": false
      });

      prev.addEventListener('click', () => {
          if(!prev.disabled){
              roadMap.goTo('prev')
          }
      })

      next.addEventListener('click', () => {
          if(!next.disabled){
              roadMap.goTo('next')
          }
      })
      roadMap.events.on('indexChanged', (v) => {
          const item = document.querySelectorAll('#road-map .tns-item')
          const roadMapIW = document.getElementById('road-map-ow')
          let index = v.displayIndex - 1
          let fullWidth = 0
          let offsetWidth = 0
          item.forEach((value, index2) => {
              fullWidth += value.offsetWidth
              if(index2 < index){
                  offsetWidth = fullWidth
              }
          })
          prev.disabled = (index === 0)
          next.disabled = (fullWidth - offsetWidth < roadMapIW.offsetWidth)
      });
  </script>

</div>
<!-- end page content -->
