<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Market</li>
          </ol>
        </div>
        <h4 class="page-title">Market Info</h4>
      </div><!--end page-title-box-->
    </div><!--end col-->
  </div><!--end row-->
  <!-- end page title end breadcrumb -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= form_for @market,
                       as:  :trading_pair,
                       url: @market.new_record? ? admin_markets_url : admin_market_url(@market.id) do |f| %>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Quote currency</label>
                  <% if @market.new_record? %>
                    <%= f.select :bid_unit, Currency.codes.map { |code| [code.upcase, code] }, {}, { class: "custom-select" } %>
                  <% else %>
                    <%= f.select :bid_unit, Currency.codes.map { |code| [code.upcase, code] }, {selected: @market.bid_unit.upcase},
                                 { class: "custom-select", disabled: true } %>
                  <% end %>
                </div>
                <div class="form-group">
                  <label>Quote currency fee</label>
                  <%= f.text_field :ask_fee, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Maximum Bid Price</label>
                  <%= f.text_field :max_bid, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Minimum Bid Amount</label>
                  <%= f.text_field :min_bid_amount, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Bid precision</label>
                  <% if @market.new_record? %>
                    <%= f.number_field :bid_precision, class: 'form-control' %>
                  <% else %>
                    <%= f.number_field :bid_precision, { class: 'form-control', readonly: true, value: "#{@market.bid_precision}" } %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Base currency</label>
                  <% if @market.new_record? %>
                    <%= f.select :ask_unit, Currency.codes.map { |code| [code.upcase, code] }, {}, { class: "custom-select" } %>
                  <% else %>
                    <%= f.select :ask_unit, Currency.codes.map { |code| [code.upcase, code] }, { selected: @market.ask_unit.upcase },
                                 { class: "custom-select", disabled: true } %>
                  <% end %>
                </div>
                <div class="form-group">
                  <label>Base currency fee</label>
                  <%= f.text_field :bid_fee, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Maximum Ask Price</label>
                  <%= f.text_field :min_ask, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Minimum Ask Amount</label>
                  <%= f.text_field :min_ask_amount, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label for="example-number-input">Ask precision</label>
                  <% if @market.new_record? %>
                    <%= f.number_field :ask_precision, class: 'form-control' %>
                  <% else %>
                    <%= f.number_field :ask_precision, { class: 'form-control', value: "#{@market.ask_precision}", readonly: true } %>
                  <% end %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="checkbox my-2">
                  <div class="custom-control custom-checkbox">
                    <%= f.check_box :enabled, { class: 'custom-control-input', id: 'trading_pair_enabled',
                                                data: { parsley: { multiple: 'groups', mincheck: '2' }} } %>
                    <label class="custom-control-label" for="trading_pair_enabled">Enabled</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Position</label>
                  <%= f.number_field :position, class: 'form-control' %>
                </div>
              </div>

              <div class="col-md-12 mt-4">
                <%= f.submit 'Submit', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
</div><!-- container -->