<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Withdraws</li>
          </ol>
        </div>
        <h4 class="page-title">Withdraws</h4>
      </div><!--end page-title-box-->
    </div><!--end col-->
  </div><!--end row-->
  <!-- end page title end breadcrumb -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-pills nav-justified mb-4" role="tablist">
                <li>
                  <%= link_to raw("All withdraws"), admin_withdraw_index_path(state: 'all'),
                              { class: "btn btn-primary text-white mr-1 #{@all_withdraws ? 'active' : ''}" } %>
                </li>
                <li>
                  <%= link_to raw("Latest withdraws"), admin_withdraw_index_path(state: 'latest'),
                              { class: "btn btn-primary text-white mr-1 #{@latest_withdraws ? 'active' : ''}" } %>
                </li>
                <li>
                  <%= link_to raw("Pending withdraws"), admin_withdraw_index_path(state: 'pending'),
                              { class: "btn btn-primary text-white mr-1 #{@pending_withdraws ? 'active' : ''}" } %>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="all-withdraws" role="tabpanel">
                  <% if @latest_withdraws %>
                    <h4 class="header-title mt-0 mb-3">Withdraws for the last 24 hours</h4>
                    <div class="table-responsive">
                      <%= render partial: 'table', locals: {withdraws: @latest_withdraws} %>
                    </div>
                  <% end %>
                  <% if @all_withdraws %>
                    <h4 class="header-title mt-0 mb-3">All withdraws</h4>
                    <div class="table-responsive">
                      <%= render partial: 'table', locals: {withdraws: @all_withdraws} %>
                    </div>
                  <% end %>
                  <% if @pending_withdraws %>
                    <h4 class="header-title mt-0 mb-3">Pending withdraws</h4>
                    <div class="table-responsive">
                      <%= render partial: 'pending_table', locals: {withdraws: @pending_withdraws} %>
                    </div>
                  <% end %>
                </div>
              </div> <!-- BATAS TABS -->
            </div>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
</div><!-- container -->