<div class="text-center auth-logo-text mb-3">
  <h4 class="mt-0 mb-4 mt-5" style="text-transform: uppercase;">Add Mobile Phone</h4>
</div><!--end auth-logo-text-->

<%= form_tag("/users/phones", class: 'form-horizontal auth-form my-4') do %>
  <div class="row mb-3 steps-cust">
    <div class="col-md-4" align="right">
      <a href="<%= edit_account_registration_path %>" class="btn btn-success btn-round"><i class="fas fa-check"></i></a>
    </div>

    <div class="col-md-4" align="center">
      <a href="#" class="btn btn-info btn-round"><i class="fas fa-circle"></i></a>
    </div>

    <div class="col-md-4" align="left">
      <a href="#" class="btn btn-info btn-round"><i class="fas fa-circle"></i></a>
    </div>

    <div class="col-md-2 mb-3 mt-5">
      <%= text_field_tag :phone_country, nil, class: 'form-control frm-new required', placeholder: '+1' %>
    </div>

    <div class="col-md-7 mb-3 mt-5">
      <%= text_field_tag :number, nil, class: 'form-control frm-new required', placeholder: 'Enter Phone' %>
    </div>

    <div class="col-md-3 mb-3 mt-5">
      <a href="javascript:void(0)" id="send-code-btn">
        <button class="btn btn-success btn-round waves-effect full-width" type="button">Send Code</button>
      </a>
    </div>

    <div class="col-md-12 mb-4">
      <%= number_field_tag :code, nil, class: 'form-control frm-new required', placeholder: 'Enter SMS Confirmation Code' %>
    </div>

    <div class="col-md-12 mb-2 mt-1">
      <%= submit_tag  'CONFIRM', class: 'btn btn-primary btn-round waves-effect full-width', id: 'create-phone', disabled: true %>
      <div id="error" class="error text-center pt-3"></div>
    </div>
  </div>
<% end %>
