
<!-- Top Bar Start -->
<div class="topbar">

  <!-- LOGO -->
  <div class="topbar-left">
    <a href="<%= root_path %>" class="logo">
      <span><img src="<%= image_path('logo_archidax.png') %>" alt="logo-small" style="width: 155px;"></span>
    </a>
  </div>
  <!--end logo-->
  <!-- Navbar -->
  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-right mb-0">
      <% if current_user %>
        <li>
          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="<%= funds_path %>" role="button"
             aria-haspopup="false" aria-expanded="false">
            <span class="ml-1 nav-user-name hidden-sm">Funds</span>
          </a>
        </li>
      <% end %>
      <li>
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Support</span>
        </a>
      </li>
      <li style="border-right: 2px solid #151833;">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Notice</span>
        </a>
      </li>

      <%= render partial: 'shared/header_lang_sel' %>
      <%= render partial: 'shared/notification_list' %>

      <% if current_user %>
        <%= render partial: 'shared/header_profile_setting' %>
      <% else %>
        <li class="account-info">
          <div class="signin-signup-container">
            <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
            <% unless provider.blank? %>
              <a href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>" role="button">Log In</a>
              <span>or<%= link_to "Register", '/accounts/sign_up' %></span>
            <% end %>
          </div>
        </li>
      <% end %>

    </ul><!--end topbar-nav-->

    <ul class="list-unstyled topbar-nav mb-0">
      <li>
        <button class="button-menu-mobile nav-link waves-effect waves-light">
          <i class="dripicons-menu nav-icon"></i>
        </button>
      </li>
      <li>
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="/trading/ethbtc" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Exchange</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- end navbar-->
</div>
<!-- Top Bar End -->
