
<!-- Top Bar Start -->
<div class="topbar">

  <!-- LOGO -->
  <div class="topbar-left">
    <a href="<%= root_path %>" class="logo">
      <span><img src="<%= image_path('logo_archidax.png') %>" alt="logo-small" style="width: 155px;"></span>
    </a>
  </div>
  <!--end logo-->
  <!-- Navbar -->
  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-right mb-0">
      <% if current_user %>
        <li>
          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="<%= funds_path %>" role="button"
             aria-haspopup="false" aria-expanded="false">
            <span class="ml-1 nav-user-name hidden-sm">Funds</span>
          </a>
        </li>
      <% end %>
      <li>
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Support</span>
        </a>
      </li>
      <li style="border-right: 2px solid #151833;">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Notice</span>
        </a>
      </li>

      <%= render partial: 'shared/header_lang_sel' %>

      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <i class="dripicons-bell noti-icon"></i>
          <span class="badge badge-danger badge-pill noti-icon-badge">2</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-lg">
          <!-- item-->
          <h6 class="dropdown-item-text">
            Notifications (18)
          </h6>
          <div class="slimscroll notification-list">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item active">
              <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
              <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
            </a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
              <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
            </a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
              <p class="notify-details">Your item is shipped<small class="text-muted">It is a long established fact that a reader will</small></p>
            </a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
              <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
            </a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
              <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
              <p class="notify-details">New Message received<small class="text-muted">You have 87 unread messages</small></p>
            </a>
          </div>
          <!-- All-->
          <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
            View all <i class="fi-arrow-right"></i>
          </a>
        </div>
      </li>

      <% if current_user %>
        <%= render partial: 'shared/header_profile_setting' %>
      <% else %>
        <li class="account-info">
          <div class="signin-signup-container">
            <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
            <% unless provider.blank? %>
              <a href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>" role="button">Log In</a>
              <span>or<%= link_to "Register", '/accounts/sign_up' %></span>
            <% end %>
          </div>
        </li>
      <% end %>

    </ul><!--end topbar-nav-->

    <ul class="list-unstyled topbar-nav mb-0">
      <li>
        <button class="button-menu-mobile nav-link waves-effect waves-light">
          <i class="dripicons-menu nav-icon"></i>
        </button>
      </li>
      <li>
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="/trading/ethbtc" role="button"
           aria-haspopup="false" aria-expanded="false">
          <span class="ml-1 nav-user-name hidden-sm">Exchange</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- end navbar-->
</div>
<!-- Top Bar End -->
