<div class="page-sidebar fixedscroll">

        <!-- MAIN MENU - START -->
        <div class="page-sidebar-wrapper crypto ps-container ps-active-y" id="main-menu-wrapper" style="height: 526px;">

            <ul class="wraplist" style="height: auto;">
                <li class="menusection">Main</li>
                <li class="">
                    <a href="/dashboard">
                        <i class="img relative crypto-ic ">
                            <%= image_tag 'crypto-dash/icons/1.png', class: "ic1 width-20" %>
                        </i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <a href="/funds">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/2.png', class: "width-20" %>
                        </i>
                        <span class="title">Crypto Wallet</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/6.png', class: "width-20" %>
                        </i>
                        <span class="title">Buy &amp; Sell</span>
                    </a>
                </li>
                <% if is_admin? %>
                    <li class="">
                        <a href="<%= admin_dashboard_path %>">
                            <i class="img">
                                <%= image_tag 'crypto-dash/icons/4.png', class: "width-20" %>
                            </i>
                            <span class="title">ICO Admin</span>
                        </a>
                    </li>
                <% end %>
                <li class="">
                    <a href="#">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/8.png', class: "width-20" %>
                        </i>
                        <span class="title">Affiliate Program</span>
                    </a>
                </li>

                <li class="">
                    <a href="<%= order_history_path %>">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/6.png', class: "width-20" %>
                        </i>
                        <span class="title">My Hisotry</span>
                    </a>
                </li>

                <li class="">
                    <a href="#">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/12.png', class: "width-20" %>
                        </i>
                        <span class="title">Support</span>
                    </a>
                </li>

                <li class="">
                    <a href="/settings">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/11.png', class: "ic1 width-20" %>
                        </i>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li class="">
                    <a href="javascript:;">
                        <i class="img">
                            <%= image_tag 'crypto-dash/icons/9.png', class: "width-20" %>
                        </i>
                        <span class="title">Access Pages</span>
                        <span><i class="fas fa-angle-left"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="" href="/accounts/sign_in">Login</a>
                        </li>
                        <li>
                            <a class="" href="/accounts/sign_up">Registration</a>
                        </li>
                    </ul>
                </li>
            </ul>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 526px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 276px;"></div></div></div>
        <!-- MAIN MENU - END -->

        <%= javascript_include_tag 'dashboard/perfect-scrollbar.min.js' %>
        <%= javascript_include_tag 'dashboard/swiper' %>
        <%= javascript_include_tag 'dashboard/scripts.js' %>
    </div>