<!DOCTYPE html>
<html>
<head>
  <title>Archidax</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'web', media: 'all' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>

  <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
  <%= javascript_include_tag 'web' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= domain_favicon_tag %>
</head>
<body class="devise">
  <%= domain_html_tag(domain_asset :header) %>

  <div class="main-card">
    <div class="card">

      <%= link_to domain_logo_tag(domain_asset :logo), "/",  class: 'logo' %>

      <h4 class="mt-4 logo-name">Archidax</h4>

      <div class="pt-2">
        <%= yield %>
      </div>

      <% unless alert.blank? %>
        <span class="alert alert-danger mt-4 mb-0">
          <i class="icon icon-cancel-circled"></i> <%= alert %>
        </span>
      <% end %>

      <% unless notice.blank? %>
        <span class="alert alert-success mt-4 mb-0">
          <i class="icon icon-cancel-circled"></i> <%= notice %>
        </span>
      <% end %>

      <% if account_signed_in? %>
        <%= render 'layouts/shared/account_footer' %>
      <% else %>
        <%= render 'devise/shared/footer' %>
      <% end %>

    </div>
    <div class="verifyBottom">
      <div class="item">
        <a href="/">Home</a>　
        <a href="#" target="_blank" class="ng-binding">Support</a>
      </div>
      <div class="item">©2020 Five Angel Investment Limited - BVI</div>
    </div>
  </div>

  <%= domain_html_tag(domain_asset :footer) %>
</body>
</html>
