<div id="language" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <img class="lang-icon <%= I18n.locale == 'ko'.to_sym ? 'ko' : '' %>" src="/languages/<%= I18n.locale %>.png"/>
  </a>
  <span id="lang_name"> <%= I18n.locale == 'en'.to_sym ? 'English' : 'Korean' %></span>
  <b class="caret"></b>
  <ul class="dropdown-menu">
    <% I18n.available_locales.each do |lang| %>
      <li>
        <a href="?lang=<%= lang %>">
          <img class="lang-icon <%= lang == 'ko'.to_sym ? 'ko' : '' %>" src="/languages/<%= lang %>.png"/>
        </a>
      </li>
    <% end %>
  </ul>
</div>
