<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Members</li>
          </ol>
        </div>
        <h4 class="page-title">Members</h4>
      </div><!--end page-title-box-->
    </div><!--end col-->
  </div><!--end row-->
  <!-- end page title end breadcrumb -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="header-title mt-0 mb-3">Search</h4>

              <%= form_tag admin_members_path, method: :get, class: "form-inline" do |f| %>
                <div class="form-group">
                  <%= select_tag :search_field, options_for_select([['E-Mail', 'email'], ['Wallet address', 'wallet_address'], ['SN', 'sn']], @search_field), class: "custom-select" %>
                </div>

                <div class="form-group m-l-10">
                  <%= text_field_tag :search_term, @search_term, class: "form-control ml-2" %>
                </div>
                <%= submit_tag t('.search'), class: "btn btn-gradient-primary ml-2" %>
              <% end %>
            </div>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="header-title mt-0 mb-3"><%= t('.members') %></h4>
              <div class="table-responsive">
                <%= table_for @members, class: 'table table-bordered table-hover mb-0' do |t| %>
                  <% t.column :id, 'ID'  %>
                  <% t.column :email, 'Email' do |x| %>
                    <code class="text-info">
                      <%= x.email %>
                    </code>
                  <% end %>
                  <% t.column 'SN' do |x| %>
                    <%= x.sn %>
                  <% end %>
                  <% t.column :created_at, 'Created At' %>
                  <% t.column 'Disabled? (Web/API)' do |x| %>
                    <% text = x.disabled? ? 'Yes' : 'No' %>
                    <%= link_to text, toggle_admin_member_path(x), remote: true, method: :post, class: 'toggle-web' %>
                    &nbsp;/&nbsp;
                    <% text = x.api_disabled? ? 'Yes' : 'No' %>
                    <%= link_to text, toggle_admin_member_path(x, api: true), remote: true, method: :post, class: 'toggle-api' %>
                  <% end %>
                  <% t.column :actions, 'Actions' do |x| %>
                    <%= link_to t('actions.view'), url_for([:admin, x]), class: 'text-success' %>
                  <% end %>
                <% end %>
              </div><!--end /div-->
            </div>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
</div><!-- container -->
<%= paginate @members %>
