<% content_for :frame do %>
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0);">Main</a></li>
              <li class="breadcrumb-item active">History</li>
            </ol>
          </div>
          <h4 class="page-title">History</h4>
        </div><!--end page-title-box-->
      </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="margin: 30px;">
              <%= render 'tabs', active: :account %>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane p-3 active">
                  <p class="text-muted mb-0">
                  <div class="table-responsive">
                    <table class="table table-striped mb-0">
                      <thead>
                        <tr>
                          <th><%= t('.type') %></th>
                          <th><%= t('.timestamp') %></th>
                          <th><%= t('.currency') %></th>
                          <th><%= t('.amount') %></th>
                          <th><%= t('.fee') %></th>
                          <th><%= t('.txid') %></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% if @transactions.size == 0 %>
                        <tr><td colspan="8" align="center">No History</td></tr>
                      <% else %>
                        <%= render partial: 'transaction', collection: @transactions %>
                      <% end %>
                      </tbody>
                    </table><!--end /table-->
                    <div class="float-right">
                      <%= paginate @transactions %>
                    </div>
                  </div>
                  </p>
                </div>
              </div>
            </div><!--end card-body-->
          </div><!--end card-->
        </div><!--end col-->
      </div><!--end row-->
    </div>
  </div><!-- container -->
<% end %>

