
<!-- Left Sidenav -->
<div class="left-sidenav">
  <div class="main-icon-menu">
    <nav class="nav">
      <a href="#MetricaAnalytic" class="nav-link leftmenu-sm-item bg-pink shadow-pink" data-toggle="tooltip-custom" data-placement="right" title="" data-original-title="Analytics">
        <svg class="nav-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <path d="M184,448h48c4.4,0,8-3.6,8-8V72c0-4.4-3.6-8-8-8h-48c-4.4,0-8,3.6-8,8v368C176,444.4,179.6,448,184,448z"/>
            <path class="svg-primary" d="M88,448H136c4.4,0,8-3.6,8-8V296c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8V440C80,444.4,83.6,448,88,448z"/>
            <path class="svg-primary" d="M280.1,448h47.8c4.5,0,8.1-3.6,8.1-8.1V232.1c0-4.5-3.6-8.1-8.1-8.1h-47.8c-4.5,0-8.1,3.6-8.1,8.1v207.8
                                        C272,444.4,275.6,448,280.1,448z"/>
            <path d="M368,136.1v303.8c0,4.5,3.6,8.1,8.1,8.1h47.8c4.5,0,8.1-3.6,8.1-8.1V136.1c0-4.5-3.6-8.1-8.1-8.1h-47.8
                                        C371.6,128,368,131.6,368,136.1z"/>
          </g>
        </svg>
      </a><!--end MetricaAnalytic-->
    </nav><!--end nav-->
  </div><!--end main-icon-menu-->

  <div class="main-menu-inner">
    <div class="menu-body slimscroll">
      <div id="MetricaAnalytic" class="main-icon-menu-pane active">
        <div class="title-box">
          <h6 class="menu-title">Admin Access</h6>
        </div>
        <ul class="nav metismenu" id="main_menu_side_nav">
          <li class="nav-item"><a class="nav-link" href="<%= main_app.admin_dashboard_path %>">
            <i class="dripicons-meter"></i><%= t('header.dashboard') %></a>
          </li>
          <% if can? :manage, Blockchain %>
            <li class="nav-item"><a class="nav-link" href="<%= admin_blockchains_path %>">
              <i class="dripicons-link"></i>Blockchain</a>
            </li>
          <% end %>
          <li class="nav-item"><a class="nav-link" href="<%= admin_currencies_path %>">
            <i class="mdi mdi-currency-usd"></i>Currencies</a>
          </li>
          <% if can? :manage, Market %>
            <li class="nav-item"><a class="nav-link" href="<%= admin_markets_path %>">
              <i class="dripicons-store"></i>Markets</a>
            </li>
          <% end %>
          <% if can? :manage, Wallet %>
            <li class="nav-item"><a class="nav-link" href="<%= admin_wallets_path %>"><i class="dripicons-wallet"></i>Wallets</a></li>
          <% end %>
          <li class="nav-item"><a class="nav-link" href="ieo"><i class="dripicons-web"></i>IEO</a></li>

          <% if can? :menu, Deposit %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="dripicons-mail"></i>
                <span class="w-100">Deposits</span>
                <span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <% Currency.ordered.codes.each do |c| %>
                  <li><%= link_to c.upcase, admin_deposit_index_path(c) %></li>
                <% end %>
              </ul>
            </li><!--end nav-item-->
          <% end %>

          <% if can? :menu, Withdraw %>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="dripicons-mail"></i>
                <span class="w-100">Withdraws</span>
                <span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
              </a>
              <ul class="nav-second-level" aria-expanded="false">
                <% Currency.ordered.codes.each do |c| %>
                  <li><%= link_to c.upcase, admin_withdraw_index_path(c) %></li>
                <% end %>
              </ul>
            </li><!--end nav-item-->
          <% end %>

          <% if can? :manage, Member %>
            <li class="nav-item"><a class="nav-link" href="<%= admin_members_path %>">
              <i class="dripicons-user-group"></i><%= t('.menus.sections.members') %></a>
            </li>
          <% end %>
          <li class="nav-item"><a class="nav-link" href="<%= admin_rewards_path %>">
            <i class="dripicons-star"></i>Rewards</a>
          </li>
        </ul><!--end nav-->
      </div><!-- end Analytic -->
    </div><!--end menu-body-->
  </div><!-- end main-menu-inner-->
</div>
<!-- end left-sidenav-->