<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Archidax Admin</title>
  <%= favicon_link_tag "favicon.ico" %>

  <%= render 'shared/meta' %>
  <%= render 'shared/sentry' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'custom', media: 'all' %>
  <%= custom_stylesheet_link_tag_for :admin %>

  <%= javascript_include_tag "custom/jquery.min.js" %>
  <%= javascript_include_tag "custom/bootstrap.bundle.min.js" %>
  <%= javascript_include_tag "plugins/apexcharts/apexcharts.min.js" %>

</head>

<body id="<%= body_id %>" data-lang="<%= locale_name %>">

  <div class="page-wrapper">
    <!-- Left Sidenav -->
    <%= render "layouts/admin_sidebar" %>
    <%= render "layouts/admin_header" %>

    <!-- Page Content -->
    <div class="page-content">
      <%= render 'shared/flash' %>
      <%= yield %>

      <%= render 'shared/footer' %>
    </div>
  </div>

  <%= javascript_include_tag 'custom' %>

</body>
</html>
