<!DOCTYPE html>
<html lang="en" ng-app="funds">
  <head>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag "favicon.ico" %>
    <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
    <%= stylesheet_link_tag stylesheet, media: 'all' %>
    <%= custom_stylesheet_link_tag_for :main %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= include_gon %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'funds' %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= "#{locale_name}" %>">

    <%= render 'shared/left_side_menu' %>
    <%= content_for?(:header) ? yield(:header) : render('shared/header') %>

    <div id="wrap">

      <div class='container'>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>

    <%- if content_for?(:footer) %>
      <%= yield(:footer) %>
    <%- else %>
      <%= render 'shared/footer' %>
    <%- end %>

  </body>
</html>

