<!DOCTYPE html>
<html lang="zxx" class="js">
   <head>
      <meta charset="utf-8">
      <meta name="author" content="Softnio">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Fav Icon  -->
      <%= favicon_link_tag "favicon.ico" %>
      <!-- Site Title  -->
      <title>Gigaex Exchange</title>
      <!-- Vendor Bundle CSS -->
      <%= stylesheet_link_tag 'theme1/vendor.bundle.css?ver=142' %>
      <!-- Custom styles for this template -->
      <%= stylesheet_link_tag 'theme1/style.css?ver=142' %>
      <!-- <link rel="stylesheet" href="assets/css/style.css?ver=142"> -->
      <%= stylesheet_link_tag 'theme1/theme-orange.css?ver=142' %>
      <!-- <link rel="stylesheet" href="assets/css/theme-orange.css?ver=142"> -->

      <%= stylesheet_link_tag 'features/landing' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
   </head>
   <body class="theme-dark io-zinnia" data-spy="scroll" data-target="#mainnav" data-offset="80">
      <%= yield %>
      <!-- JavaScript (include all script here) -->
      <%= javascript_include_tag 'theme1/jquery.bundle.js?ver=142' %>
      <!-- <script src="assets/js/jquery.bundle.js?ver=142"></script> -->
      <%= javascript_include_tag 'theme1/script.js?ver=142' %>
      <!-- <script src="assets/js/script.js?ver=142"></script> -->
   </body>
   <script>
      // Get the modal
      var modal = document.getElementById('myModal');
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close");
      
      if (btn) {
         // When the user clicks on the button, open the modal 
         btn.onclick = function() {
         modal.style.display = "block";
         }
      }
      

      // Get the modal
      var modal1 = document.getElementById('myModal1');
      
      // Get the button that opens the modal
      var btn1 = document.getElementById("myBtn1");
      
      if (btn) {
         // When the user clicks on the button, open the modal 
         btn1.onclick = function() {
         modal1.style.display = "block";
         }
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
      modal.style.display = "none";
      modal1.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
      if (event.target == modal || event.target == modal1) {
        modal.style.display = "none";
        modal1.style.display = "none";
      }
      }
      
   </script>
</html>