<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'custom', media: 'all' %>

    <%= custom_stylesheet_link_tag_for :main %>
    <%= include_gon %>

    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= locale_name %>">
    <div class="page-wrapper">
      <!-- Left Sidenav -->
      <%= render 'shared/left_side_menu' %>
      <%= content_for?(:header) ? yield(:header) : render('shared/header') %>

      <!-- Page Content -->
      <div class="page-content">
        <%= yield %>
        <div id="push"></div>

        <%= render 'shared/footer' %>
      </div>
    </div>

    <%= javascript_include_tag 'custom' %>

  </body>
</html>
