<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div><!--end page-title-box-->
    </div><!--end col-->
  </div><!--end row-->
  <!-- end page title end breadcrumb -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="header-title mt-0 mb-3">Currencies Summary</h4>
              <div class="table-responsive">
                <table class="table table-bordered table-hover mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th class="border-top-0">Name</th>
                      <th class="border-top-0">Locked</th>
                      <th class="border-top-0">Balance</th>
                      <th class="border-top-0">Sum</th>
                      <th class="border-top-0">Hot-Wallet Balance</th>
                      <th class="border-top-0">Cold-Wallet Balance</th>
                    </tr><!--end tr-->
                  </thead>
                  <tbody>
                  <% @currencies_summary.each do |c| %>
                    <tr>
                      <td>
                        <b><%= c[:name] %></b>
                      </td>
                      <td><%= c[:locked] %></td>
                      <td><%= c[:balance] %></td>
                      <td><%= c[:sum] %></td>
                      <% if c[:coinable] %>
                        <td><%= c[:hot] %></td>
                        <% if c[:hot] == 'N/A' || c[:hot].is_a?(Hash) %>
                          <td>N/A</td>
                        <% elsif c[:sum] - c[:hot] < 0 %>
                          <td>0.0</td>
                        <% else %>
                          <td><%= c[:sum] - c[:hot] %></td>
                        <% end %>
                      <% else %>
                        <td>N/A</td>
                        <td>N/A</td>
                      <% end %>
                    </tr>
                  <% end %>
                  </tbody>
                </table> <!--end table-->
              </div><!--end /div-->
            </div>
            <div class="col-md-12 mt-5" style="padding-right: 20px;padding-left: 20px;">
              <div class="row" style="border: 1px solid #4D79F6;border-radius: 7px;">
                <div class="col-md-1 no-padding" align="center" style="padding: 0">
                  <div class="alert alert-boxed-primary alert-primary mb-0">
                    <i class="icon fa fa-info"></i>
                  </div>
                </div>
                <div class="col-md-11">
                  <h3 class="h6 mb-0"><b>Tips:</b> Locked + Balance = Sum | Hot-Wallet + Cold-Wallet = Summary</h3>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <h4 class="header-title mt-0 mb-3">Exchange Summary</h4>
              <div class="table-responsive">
                <table class="table table-bordered table-hover mb-0">
                  <thead class="thead-light">
                  <tr>
                    <th class="border-top-0">Index</th>
                    <th class="border-top-0">Count</th>
                  </tr><!--end tr-->
                  </thead>
                  <tbody>
                  <tr>
                    <td>Register Count</td>
                    <td><%= @register_count %></td>
                  </tr><!--end tr-->
                  </tbody>
                </table> <!--end table-->
              </div><!--end /div-->
            </div>
          </div>
        </div><!--end card-body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->
</div><!-- container -->